<!-- views/social/person.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>

    <title>World's Word - Fastest Trends Stats</title>

    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="World's word is a place where you should try and express yourself in ONE word only!">
    <meta name="author" content="Nikola Kujaca - www.bdslab.info">
    <meta property="fb:app_id"          content="415516472142865" />
    <meta property="og:url"             content="http://www.worldsword.com/socialp" />
    <meta property="og:type"            content="website" />
    <meta property="og:title"           content="Person of the week" />
    <meta property="og:description"     content='<%= event.title %>' />
    <meta property="og:image"           content='http://www.worldsword.com/<%= event.image %>' />
    <meta property="og:image:type"      content="image/png" />
    <meta name="twitter:card"           content="summary" />
    <meta name="twitter:site"           content="@worldsword" />
    <meta name="twitter:title"          content="Person of the week" />
    <meta name="twitter:description"    content='<%=event.title%>' />
    <meta name="twitter:image"          content='http://www.worldsword.com/<%= event.image %>' />



</head>

<body id="page-top">

<section>
    <div class="container">
        <div class="col-md-12">
            <h2><%= event.title %></h2>
            <div class="badges style" style="background-image: url('../<%= event.image %>')">
                <div class="testiramo">
                    <strong>Person of the week!</strong>
                </div>
            </div>
        </div>

    </div>

</section>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-17888622-6', 'auto');
    // ga('send', 'pageview');

</script>

</body>

</html>